@using Domain.Dtos


@model ProjectFormDto

<div class="project card">
    <div class="card-header">
        <div class="project-image">
            <img src="@Url.Content($"~/uploads/{Model.Image}")" alt="Project image" />
        </div>
        <h6 class="project-name">@Model.ProjectName</h6>
        <span class="client-name">@Model.ClientName</span>

        <div id="project-actions-container">
            <button id="project-dropdown-menu-@Model.Id"
                    type="button"
                    data-type="dropdown"
                    data-target="#edith-dropdown-@Model.Id"
                    class="btn-actions open-edith-trigger">
                <i class="fa-duotone fa-solid fa-ellipsis"></i>
            </button>
            <div id="edith-dropdown-@Model.Id" class="edith-dropdown">
                <div class="dropdown-body">
                    <nav class="dropdown-actions">
                        <a data-type="modal"
                           data-target="#add-edit-project-modal"
                           id="edit-project-open"
                           class="dropdown-action open-edit-modal"
                           data-name="@Model.ProjectName"
                           data-client="@Model.ClientId"
                           data-status="@Model.StatusId"
                           data-description="@Model.Description"
                           data-budget="@Model.Budget"
                           data-start="@Model.StartDate.ToString("yyyy-MM-dd")"
                           data-end="@Model.EndDate.ToString("yyyy-MM-dd")">
                            <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </a>
                        <a class="dropdown-action" href="#">
                            <i class="fa-duotone fa-solid fa-user-plus"></i>
                            <span>Add Member</span>
                        </a>
                        <div class="divider"></div>
                        <form method="post" asp-action="Delete" asp-controller="Projects">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <a class="dropdown-action danger" onclick="this.closest('form').submit()";>
                                <i class="fa-duotone fa-solid fa-trash-can"></i>
                                <span>Delete Project</span>
                            </a>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>@Model.Description</p>
    </div>
    <div class="card-footer">
        @* must use to string so that javascript can read it correctly *@
        <div class="badge " data-enddate="@Model.EndDate.ToString("yyyy-MM-dd")">
            <i class="fa-duotone fa-solid fa-clock"></i>
            <span class="javascript-badge-text">@Model.TimeLeftText</span>
        </div>
        <div class="members">
            <div class="user-image">
                @* <p>@string.Join(", ", Model.MemberNames)</p> *@
                <img src="/Images/Avatar.svg">
            </div>
            <div class="user-image">
                <img src="/Images/Avatar.svg">
            </div>
        </div>
    </div>
</div>