@using Domain.Dtos
@model MemberDto
@* cant find index, needs to be named Default.cshtml *@
@if (Model != null)
{
    var imagePath = Model.Image.StartsWith("/Images/") ? Model.Image : $"/uploads/{Model.Image}";
    <img src="@imagePath" class="avatar" alt="Profilbild" />
    <span>@Model.FirstName @Model.LastName</span> @* If a Member and connected AppUser exist *@


    @if (ViewBag.LoginMethod != null)// here I show that you logged in with google
    {
        <div class="login-method">@ViewBag.LoginMethod</div>
    }
}
else if (User.Identity?.IsAuthenticated ?? false)
{
    @* Should never happen — ViewComponent always returns a MemberDto *@
    <span>@User.Identity.Name</span>
}
else
{
    @* Not logged in — show login link *@
    <a asp-controller="Account" asp-action="SignIn">Logga in</a>
}