@using Domain.Dtos
@model MemberDto
@* cant find index, needs to be named Default.cshtml *@
@if (Model != null)
{
    var imagePath = Model.Image.StartsWith("/Images/") ? Model.Image : $"/uploads/{Model.Image}";
    <img src="@imagePath" class="avatar" alt="Profilbild" />
    <span>@Model.FirstName @Model.LastName
        @if (ViewBag.LoginMethod != null && ViewBag.LoginMethod.ToString().Contains("Google"))
        {
            <small>@ViewBag.LoginMethod</small>
        }
    </span> @* If a Member and connected AppUser exist *@


}
else if (User.Identity?.IsAuthenticated ?? false)
{
    @* Should never happen viewcomponent always returns a MemberDto *@
    <span>@User.Identity.Name</span>
}
else
{
    @* this migth be usefull in future if dashboard should be awailable for everyone *@
    <a asp-controller="Account" asp-action="SignIn">Log In</a>
}